.DS_Store
node_modules
/dist
Aide-mémoire.txt

backend/.DS_Store
backend/db.config.bak.js
backend/user.controller.bak.js
backend/post.controller.bak.js
backend/populateDB.txt

# Logs
backend/logs
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/node_modules/
backend/jspm_packages/
backend/.npm

# Frontend
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
